body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.categoryHeader {
  text-decoration: underline;
  font-size: 18px
}

/* HEADER */

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  /* min-width: 644px; */
  height: 60px;
  display: block;
  background-color: rgb(200, 100, 50);
  color: white;
  z-index: 1;
}

.header div{
  display: inline;
  float: left
}
.third {
  width: 33%;
  margin-top: 15px
}

.twothirds {
  width: 66%;
  margin-top: 20px;
  padding-left: 1%;
  white-space: wrap
}

.header div input[type='text'], .header div input[type='password'] {
  width: 100px;
}

.header div input[type='submit'] {
  width: 106px
}

.modal {
  z-index: 1;
  position: fixed;
  max-width: 250px;
  top: 60px;
  left: 66%;
  background-color: rgb(240, 160, 120)
}

.modal form {
  padding: 15px
}

.centered {
  text-align: center;
}

button.centered{
  margin-left: 33%
}

/* HEADER */
/* TABLE */

li{list-style: none;}
ul{padding: 0px; clear: both;}
.categoryRowContainer{margin: 0; padding: 5px; width: 100%}
.categoryRow li {float: left}
.choiceRow li{float: left;}
.categoryRow .totals{width: 20%}
.goals{width: 40.5%}
.goals span{margin-left: 100px}
.totals span{margin-left: 100px}
.goalsRow input {text-align: center; font-size: 16px; font-weight: bold}

.table {
  position: absolute;
  top: 60px;
  bottom: 70px;
  width: 80%;
  min-width: 600px;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: inset 0 0 4px #000000;
  padding: 10px;
}

.x {
  background-color: rgba(255, 255, 255, 0);
  border: none
}
.name{width: 30%}
.amount, .measure, .calories, .fat, .carbs, .protein {width: 10%; text-align: center}
.totals{width: 50.5%}
.amount input {width: 50px;}
.measure select {width: 100%;}
.deleteColumn{width: 5%}
.calories input, .fat input, .carbs input, .protein input{position: relative; width: 70%}
.goalsSelect{background: lime; width: 200%}
/*
.amount { left: 35%; }
.measure { left: 45%; }
.calories { left: 55%; }
.fat { left: 65%; }
.carbs { left: 75%; }
.protein { left: 85%; }

.deleteColumn{
  position: absolute;
  width: 5%;
  left: 95%;
  text-align: center;
}

.category {
  border-radius: 5px;
  padding: 10px
}

.category:hover {
  box-shadow: inset 0 0 4px #000000;
  box-shadow:  0 0 4px #000000;
  z-index: 1
}

.category:nth-child(even) {
  background: lightgray;
}

.amount input {
  position: absolute;
  left: 25%;
  width: 50px;
  align: center
}

.highlightRow:hover {
  background: lime
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* TABLE */
/* SEARCH RESULT MODAL */
.searchResultContainer {
  position: fixed;
  background-color: rgb(240, 160, 120);
  z-index: 2;
  max-height: 310px;
  overflow: scroll;
  margin: 1px 0px 0px 20%;
  border-radius: 5px;
  box-shadow: inset 0 0 4px #000000;
}

.searchResult {
  position: relative;
  text-align: left;
  list-style: none;
}

.searchResult button {
  position: relative;
  right: 20px
}

.searchResult:hover {
  background-color: lightgray;
}

/* SEARCH RESULT MODAL */
/* COLUMNS */

/* COLUMNS */
/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgb(200, 100, 50);
  z-index: 1;
}

.footer h2 {
  position: absolute;
  float: right;
  right: 5%;
  background-color: rgb(200, 100, 50);
}

.daySelect, .goalsSelect {
  width: auto
}

.newday {
  width: auto
}