body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.categoryHeader {
  text-decoration: underline;
  font-size: 18px
}

/* HEADER */

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  /* min-width: 644px; */
  height: 60px;
  display: block;
  background-color: rgb(200, 100, 50);
  color: white;
  z-index: 1;
}

.header div{
  float: left;
}
.third {
  position: relative;
  width: 33%;
  margin-top: 15px
}

/* .dayNameForm {background: lime; position: relative; display: block} */
#submitDayName {width: 20px; padding: 2px 0;}

.twothirds {
  width: 66%;
  text-align: left;
  white-space: wrap;
  text-transform: uppercase;
  font-weight: bold; 
  color: rgb(240, 240, 240); 
  font-size: 18px;
}
.twothirds p {padding-left: 5%}
select.daySelect {max-width: 100%}

.header div input[type='text'], .header div input[type='password'] {width: 100px;}

.header div input[type='submit'] {width: 106px}

.modal {
  z-index: 1;
  position: fixed;
  max-width: 250px;
  top: 60px;
  left: 66%;
  background-color: rgb(240, 160, 120)
}

.modal form {padding: 15px}

.centered {text-align: center;}

button.centered{margin-left: 33%}

/* HEADER */
/* TABLE */

.table {
  position: absolute;
  top: 60px;
  bottom: 70px;
  width: 80%;
  min-width: 600px;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: inset 0 0 4px #000000;
  padding: 10px;
}

.saveButton {position: absolute; float: left; border-radius: 25px; padding: 10px; font-size: 18px; left: 16%; background: lime}

.welcome h1, .welcome h2{text-align: right; margin-right: 5%}

.grid {display: grid; grid-template-columns: 30% 1fr 15% repeat(4, 1fr) 5%; margin: 5px 0px; text-align: center;}
li {list-style: none; padding: 0 0 0 4px}
ul {padding: 0 0 0 5px}
.name{grid-column: 1; overflow: hidden; white-space: nowrap; text-align: left; padding-left: 10px}
.categoryName {grid-column: 1 / 3; margin-left: 59%}
.categoryGrid {text-transform: uppercase; font-weight: bold;}
.email {text-transform: uppercase; font-weight: bold; color: rgb(240, 240, 240); font-size: 18px}
.amount {grid-column: 2}
.measure {grid-column: 3}
.measure select {width: 70%; max-width: 100%}
.calories {grid-column: 4}
.fat {grid-column: 5}
.carbs {grid-column: 6}
.protein {grid-column: 7}
.deleteColumn {grid-column: 8}
.grandTotals, .goals {grid-column: 2}
.goalsSelect, .totals {grid-column: 3}
.goals li input {width: 90%; margin-left: 5%}
.key li {text-transform: uppercase; overflow: hidden}
.key, .goals, .totalsRow {font-weight: bold}
.choice li input {width: 100%}
.category{border-radius: 5px; padding: 7px 0 7px 0px; }
.category{background: rgb(240, 160, 120); border: 1px solid black; margin: 5px 0 0 0}
/* .category:nth-child(odd){background: rgb(240, 240, 240)} */
.choice {background: rgba(255, 255, 255, 0.205); border-radius: 5px; padding: 4px 0}
.choice:hover {transform: scale(1.01); box-shadow: 0px 1px 5px rgb(90, 90, 90)}

.searchButton{position: relative; height: 15px; bottom: -3px; padding: 0 5px}
img.addButton{position: relative; height: 15px; bottom: -3px; padding: 0 5px}
button.addButton{background: none; border: none; margin: 0; padding: 0}
button.editButton{background: none; border: none; margin: 0; padding: 0}
img.editButton{position: relative; height: 15px; bottom: -3px; padding: 0}
button.closeButton {border: none; background: none; margin: 0; padding: 0}
img.closeButton {position: relative; height: 15px; bottom: -3px; padding: 0 5px}
img.deleteChoiceButton {position: relative; height: 15px; bottom: -1px}
img.deleteButton {position: relative; height: 15px; bottom: -3px}
button.deleteButton{border: none; background: none; margin: 0; padding: 0}
img:hover {cursor: pointer}
.iconButton {background: none; border: none; margin: 0; padding: 0}

button, .tooltip {position: relative}
button:focus, .tooltip:focus {outline-width: 0px}
.tooltiptext{
  position: absolute; background-color: white; visibility: hidden; 
  width: 80px; white-space: nowrap; padding: 5px 8px; border-radius: 5px; 
  z-index: 3; border-width: 1px; border-style: solid; border-color: black
}
button:hover .tooltiptext, .tooltip:hover .tooltiptext {visibility: visible; bottom: -35px; right: -37px}
button .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
/* TABLE */
/* FOOD FORM */

.createFoodContainer {position: relative}
.foodForm {background: white; position: absolute; z-index: 2; width: 102%; left: -1%; border-radius: 5px; border: 1px solid black}
.newFoodGrid {display: grid; grid-template-columns: repeat(5, 1fr); width: 98%}
.newFoodGrid input, .newFoodGrid select {width: 100%}
.newFoodGrid label {font-size: 14px}

/* FOOD FORM */
/* SEARCH RESULT MODAL */
.searchResultContainer {
  position: fixed;
  background-color: rgb(240, 160, 120);
  z-index: 2;
  max-height: 310px;
  overflow: scroll;
  margin: 1px 0px 0px 20%;
  border-radius: 5px;
  box-shadow:  0px 0px 4px #000000;
}

.searchResult {
  position: relative;
  text-align: left;
  list-style: none;
  padding: 0 10px 5px 2px; 
}

.searchResult button {
  position: relative;
  right: 5px
}

.searchResult:hover {
  background-color: lightgray;
}

/* SEARCH RESULT MODAL */
/* COLUMNS */

/* COLUMNS */
/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgb(200, 100, 50);
  z-index: 1;
}

.footer h2 {
  position: absolute;
  float: right;
  right: 5%;
  color: rgb(245, 245, 245)
}

.daySelect, .goalsSelect {width: auto}
.goalsSelect select {width: 90%}
.goalsSelect form {position: relative}
.goalsSelect input[type='text'] {width: 73%}
.goalsSelect input[type='submit'] {width: 19%; padding: 2px 0; margin: 0px; max-width: 19px}
.goals input {text-align: center}
.newday {width: auto}

/* LOADING  */
.loading {
  position: fixed;
  margin-left: 15%;
  bottom: 15%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgb(200, 100, 50); /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* LOADING  */

.searchForm {position: relative; z-index: 1}
.rectangle {
  position: relative;
  padding: 5px;
  border: 5px solid black;
  background: black;
  color: white;
  font-size: 20px;
  border-right: 0px solid transparent
}

.rectangle::after {
  content: " ";
  position: absolute;
  bottom: 38px;
  left: 23px;
  border-width: 25px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.arrow {position: relative; top: 30px; width: 130px; margin: auto; right: 20px;
  animation: sway 2s linear infinite;
}

@keyframes sway {
  0% { top: 30px; }
  50% { top: 50px; }
  100% { top: 30px; }
}

/* ERROR MESSAGE */
.errorMessage {background: lime; padding: 5px; border-radius: 5px}
/* ERROR MESSAGE */

a {border: 1px solid black; padding: 2px; border-radius: 5px}